/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  scroll-behavior: smooth;
} 
/* Voeg hier je eigen CSS-regels toe */
body{
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

@font-face {
  font-family: 'PrimaryFont';
  src: url('bebasneue.woff2') format('woff2'), /* Modern Browsers */
       url('bebasneue.woff') format('woff'),   /* Modern Browsers */
       url('bebasneue.ttf') format('truetype'); /* Legacy Browsers */
}


html, body {
	background-color: black;
}

.scrollbutton a {
	position: absolute;
	bottom: 0px;
	left: 50%;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #fff;
	font : normal 400 20px/1 Josefin Sans;
	letter-spacing: .1em;
	text-decoration: none;
	transition: opacity .3s;
}

#section10 a {
	padding-top: 60px;
}
#section10 a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 30px;
	height: 50px;
	margin-left: -15px;
	border: 2px solid #fff;
	border-radius: 50px;
	box-sizing: border-box;
}
#section10 a span::before {
	position: absolute;
	top: 10px;
	left: 50%;
	content: '';
	width: 6px;
	height: 6px;
	margin-left: -3px;
	background-color: #fff;
	border-radius: 100%;
	-webkit-animation: sdb10 2s infinite;
	animation: sdb10 2s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
	0% {
		-webkit-transform: translate(0, 0);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		-webkit-transform: translate(0, 20px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes sdb10 {
	0% {
		transform: translate(0, 0);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		transform: translate(0, 20px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}





.hero{
    height: 100vh;
}

.hero header{
    height: 10vh;
    display: flex;
    justify-content: center;
    background-color: #00000000;
    z-index: 10;
    
}

.hero header ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

.hero header ul li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.hero header ul li{
    color: white;
    list-style-type: none;

}

.intro{
    height: 75vh;
    display: flex;
    flex-direction: column;
    background-image: url('../img/joshua-sortino-gii7lF4y0WY-unsplash.jpg') ;
    background-size: cover;
    background-position: center;
   
    
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%; /* Pas dit aan afhankelijk van hoeveel van de afbeelding je wilt vervagen */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0));
  }

.hero-heading{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    z-index: 10;
}

.hero-heading h1{
    font-size: 180px;
    text-align: center;
    font-family: PrimaryFont;
    font-weight: 500;
    margin-bottom: 0;
    
}

.hero-heading h3{
    font-size: 30px;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    margin-bottom: 0
}

.vaardigheden{
    height: 25vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.skill-box{
    height: 140px;
    width: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.345);
    justify-content: center;
    perspective: 1000px;
    transition: transform 1s ease;
    transform-style: preserve-3d;
}

.skill{
    height: 140px;
    width: 140px;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: transform 0.5s;
    backface-visibility: hidden;
}

.skill-box:hover{
    transform: rotateY(180deg) scale(1.4);
    transform-origin: bottom;
}
  
 
  .back {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
.back h2{
    font-size: 14px;
    padding: 10px;
    margin-bottom: 0;
}

.back p{
    font-size: 10px;
    padding: 10px;
    margin-top: 0;
}



.werk-titel{
    height: 25vh;
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 80px;
    margin: 110px 0 30px 0;
    padding: 0 100px;
}


.werk-titel-links{
  width: 700px;
}

.werk-titel-rechts{
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: end;
  width: fit-content;
}

.werk-titel-rechts p{
  font-size: 16px;
  width: 45%;
  color: rgba(255, 255, 255, 0.631);
}

.werk-content{
  height: fit-content;
  row-gap: 100px;
}

.werk-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px;
  margin: 0 100px;
}

.project{
  border-radius: 15px;
  width: 48%;
  height: 350px;
  border: rgb(71, 71, 71) solid 1px;
  overflow: hidden;
  cursor: pointer;
}

.project-img-schutting{
  height: 75%;
  background-image: url('../img/schutting-mockup.webp');
  background-position: center;
  background-size: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  transition: transform 0.5s ease;
}

.project-img-fishsee{
  height: 75%;
  background-image: url('../img/fishsee-mockup.png');
  background-position: center;
  background-size: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  transition: transform 0.5s ease;
}

.project-specificaties{
  height: 25%;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  display: flex;
  flex-direction: row;
  z-index: 10;
  background-color: black;
}

.project-titel{
  height: 30%;
  width: 50%;
  padding-left: 15px;
}

.project-description{
  height: 70%;
  width: 50%;
  padding-left: 15px;
}

.project-titel h1{
  font-size: 16px;
  margin-bottom: 4px;
}

.project-description h2{
  font-size: 12px;
  color: rgb(114, 114, 114);
  margin-top: 4px;
}

.project-content{
  width: 50%;
  background-color: black;
  z-index: 11;
}

.project-content h2{
  width: 158px;
}

.project-content2{
  width: 50%;
  display: flex;
  gap: 7px;
  justify-content: end;
  align-items: center;
  padding-right: 10px;
  background-color: black;
  z-index: 11;
}

.project-content2 h2{
  font-size: 10px;
  border: solid rgba(119, 119, 119, 0.296) 2px;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  border-radius: 10px;
  color: rgb(173, 172, 172);
}

.project:hover .project-img-fishsee{
  transform: scale(1.1);
}

.project:hover .project-img-schutting{
  transform: scale(1.1);
}



.expertise-titel{
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  margin: 110px 0 30px 0;
  padding: 0 100px;
  font-family: "Bebas Neue", sans-serif;
}

.expertise-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 100px;
  margin-bottom: 50px;
}

.expertise-item{
  width: 350px;
  height: 250px;
  background-color: rgba(17, 17, 17, 0.296);
  border-radius: 15px;
  border: solid rgba(119, 119, 119, 0.296) 2px;
  display: flex;
  flex-direction: column;
}

.expertise-item2{
  width: 47%;
  height: 300px;
  background-color: rgba(17, 17, 17, 0.296);
  border-radius: 15px;
  border: solid rgba(119, 119, 119, 0.296) 2px;

}

.expertise-icon img{
    width: 35px;
    height: 35px;
    stroke: aliceblue;
    fill: aqua;
}



.expertise-item-top{
  height: 20%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 20px 20px;
  font-family: 'Bebas neue', sans-serif;
  font-size: 20px;
}

.expertise-item-bottom{
  padding: 0 20px;
}

.expertise-item-bottom p{
  font-family: 'Poppins', sans-serif;
  color: #8d8c8c;
}

.contact-titel{
  height: 25vh;
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 80px;
  margin: 110px 0 30px 0;
  padding: 0 100px;
}

.contact-titel-links{
width: 700px;
}

.contact-titel-rechts{
font-family: 'Poppins', sans-serif;
display: flex;
justify-content: end;
width: fit-content;
}

.contact-titel-rechts p{
font-size: 16px;
width: 45%;
color: rgba(255, 255, 255, 0.631);
}

.contact-content{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 80px;
}

.contact-info{
  margin-bottom: 50px;
}

.contact-info [type="text"]{
  font-size: 30px;
  background: none;
  border: none;
  border-bottom: 1px solid rgb(185, 185, 185);
  margin-right: 40px;
  width: 200px;
  color: white;
}

.contact-info [type="email"]{
  width: 300px;
  font-size: 30px;
  background: none;
  border: none;
  border-bottom: 1px solid rgb(185, 185, 185);
  color: white;
}

.contact-bericht{
  margin-bottom: 50px;
}

.contact-bericht textarea{
  width: 540px;
  font-size: 20px;
  background: none;
  border: none;
  border-bottom: 1px solid rgb(185, 185, 185);
  color: white;
}

.contact-content [type="submit"]{
  margin: 50px 0; 
  cursor: pointer;
  font-size: 20px;
  border: solid rgba(119, 119, 119, 0.296) 2px;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 10px;
  color: rgb(173, 172, 172);
  background-color: black;

}

.contact-content [type="submit"]:hover{
  color: black;
  background-color: white;
  transition: 0.2s;
}



footer{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer h1{
  font-size: 14px;
}